<!DOCTYPE html>
<html>
<head>
    <title>Chat en vivo</title>
</head>
<body>
    <h1>Chat en vivo</h1>
    <div>
        {{#if messages}}
            {{#each messages}}
                <p>{{this.user}}: {{this.text}}</p>
            {{/each}}
        {{else}}
            <p>No hay mensajes</p>
        {{/if}}
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>