<div>
    <h1>Ingrese los datos del nuevo producto</h1>
    <form id="newProductForm" method="post" action="/api/products">
        <label>Nombre</label>
        <input type="text" name="title">
        <br>
        <label>Descripcion</label>
        <input type="text" name="description">
        <br>
        <label>Precio</label>
        <input type="number" name="price">
        <br>
        <input type="submit" value="Enviar">
    </form>
</div>