<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
    <a href="/products"><button>Tienda</button></a>
    <a href="/mycart"><button>Carrito</button></a>
    <a href="/purchases"><button>Mis compras</button></a>
</div>