<div>
    <h1>Ingrese su nueva contraseña</h1>
    <form id="loginForm">
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>