<div>
    <h1>Ingrese el correo electrónico para restaurar la contraseña</h1>
    <form id="emailPasswordForm">
        <label>Email</label>
        <input type="email" name="email">
        <input type="submit" value="Enviar">
    </form>
</div>
<script src="/js/restorePassword.js"></script>
